.so-widget-sow-image-grid-default-0188106cd329 .sow-image-grid-wrapper {
  padding-top: 12px;
  margin: 0 -12px;
}
.so-widget-sow-image-grid-default-0188106cd329 .sow-image-grid-wrapper .sow-image-grid-image {
  padding: 0 12px 12px 12px;
}